// 修复h5大小下 展开菜单按钮默认为白色的情况
.anticon-menu-unfold {
  @media screen and (max-width: 575px) {
    color: rgba(0, 0, 0, 0.85) !important;
  }
}

.ant-pro-sider-light .ant-pro-sider-logo h1 {
  color: hotpink;
}

// 隐藏多页签最右边的 < > svg
.panel-tabs-bar .ant-space-align-center {
  display: none;
}
