// 修复h5大小下 展开菜单按钮默认为白色的情况
.anticon-menu-unfold {
  @media screen and (max-width: 575px) {
    color: rgba(0, 0, 0, 0.85) !important;
  }
}

.ant-pro-sider-light .ant-pro-sider-logo h1 {
  color: hotpink;
}

// 隐藏多页签最右边的 < > svg
.panel-tabs-bar .ant-space-align-center {
  display: none;
}

// .ant-transfer {
//   .ant-transfer-list:last-child {
//     .ant-transfer-list-body {
//       .ant-transfer-list-body-search-wrapper {
//         display: none;
//       }
//     }
//   }

//   .ant-transfer-list:first-child {
//     .ant-transfer-list-header {
//       flex-direction: row-reverse;

//       .ant-transfer-list-header-selected {
//         flex: 0 0 128px;
//       }

//       .ant-transfer-list-header-dropdown {
//         display: none;
//       }

//       .ant-transfer-list-checkbox {
//         flex: 0 0 20px;
//       }
//     }

//     .ant-transfer-list-body {
//       .ant-transfer-list-content {
//         .ant-transfer-list-content-item {
//           flex-direction: row-reverse;
//         }
//       }
//     }

//     .ant-transfer-list-body-search-wrapper {
//       position: absolute;
//       top: -55px;
//     }
//   }

// }
